# echo "🏃 .aliases"


# Be careful
alias mr='rmtrash'
alias mrd='rmdirtrash'
alias cp='cp -iv'
alias mv='mv -iv'

# Navigation
alias .="pwd"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias 1='cd -'
alias 2='cd -2'
alias 3='cd -3'
alias 4='cd -4'
alias 5='cd -5'

# Directories
# alias sl="ls"
alias l="exa -al --git --group-directories-first"
alias ll="ls-go -al"
# alias lsa="ls -A"
# alias lsl='ls -lAh'
alias ..l="cd .. && ls -A"

# Abbreviations
alias c="clear"
alias e="exit"
alias g="git"
alias py2="python2"
alias py3="python3"
alias rgr="ranger"
alias rss="terminews"
alias task="todo.sh"
alias todo="todo.sh"
alias tpd="topydo"
alias v="vim"
alias vi="nvim"
alias n="nvim"
alias vfm="vfm"
alias please="sudo"

# todo.txt
alias tls="todo.sh ls"
# alias tda="todo.sh add -t"

# NPM
alias npi="npm install"
alias npmlg="ls /Users/clay/.node_global/bin" # Much faster & gives Process Names as opposed to Package Names
alias npmD="npm i -D "
alias npo="npm outdated"
alias npr="npm run"
alias npp="npm init -y"

# Shortcuts
alias keyring="nvim -c 'VimFiler -explorer ~/Projects/GitHub/KeyRing/keys'"
alias awesome="nvim ~/Projects/GitHub/awesome-sauce/readme.md"
alias dotread="nvim ~/.dotfiles/readme.md"
# alias cheat="nvim ~/.dotfiles/misc/docs/neovim.md"
alias dots="cd ~/.dotfiles"
alias nv="cd ~/nvim.d"
alias pj="cd ~/Projects"
alias dl="cd ~/Downloads"

# Fixes issues with zsh completion:
function fixzsh() {
  rm ~/.zcompdump*;
  rm ~/.antigen/.zcompdump*
  rm ~/.zplug/zcompdump*
  # rm -rf /usr/local/opt/zplug/zcomp*
  exec zsh
}

# Reload zsh
alias zr="source ~/.zshrc"

# Reload bash
alias bbbash="source ~/.bashrc"

# Configure Neovim
alias vimcept="nvim ~/nvim.d/init.vim"

# Configure tmux
alias remux="nvim $DOTFILES/config/tmux/.tmux.conf"

# Print each PATH entry on a separate line
# alias path='echo -e ${PATH//:/\\n}'
alias list_path='echo -e ${PATH//:/\\n}'
alias list_fpath='echo -e ${FPATH//:/\\n}'
# for f in $fpath; do echo $f; ls -l $f/_git 2>/dev/null; done

# Show/hide hidden files in Finder
alias fshow="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias fhide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Copy cwd to the clipboard
alias hdp="pwd | pbcrpy"

# Get our IP
alias ips="ifconfig -a | perl -nle\"/(\d+\.\d+\.\d+\.\d+)/ && print $1\""

# Get gpg keys
alias gitkeys="gpg --list-secret-keys --keyid-format LONG"

# Git:
alias gitmsg="curl http://whatthecommit.com/index.txt"
alias gcom="git checkout master"
alias gcod="git checkout dev"
alias gp="git push"
alias gs="git status -s"


# Kill all the tabs in Chrome to free up memory
# [C] explained: http://www.commandlinefu.com/commands/view/402/exclude-grep-from-your-grepped-output-of-ps-alias-included-in-description
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Not xterm-italic
# alias ssh="TERM=xterm-256color ssh"

alias treee="
tree \
--dirsfirst \
-I 'node_modules|bower_components|cache|ignore|undo|dein'\
"

# alias fzag="ag --nobreak --nonumbers --noheading . | fzf"

