# echo "🏃 .exports"

export EDITOR="nvim"

export PS1=$PS1'$( [ -n $TMUX ] && tmux setenv -g TMUX_PWD_$(tmux display -p "#D" | tr -d %) $PWD)'

# export PAGER='less'
# export PAGER="vimpager"

export DOTFILES="$HOME/.dotfiles"

export TERM="xterm-256color"

export XDG_CONFIG_HOME="$HOME/.config"

# Todo.txt
export TODO_DIR="$HOME/.todo"

# Taskwarrior
export TASKRC="~/.taskrc"
# export TASKDATA="$HOME/.task"

export GOPATH="$HOME/go"
export GOBIN="$HOME/go/bin"

export VIFM="$HOME/.vifm"
export MYVIFMRC="$HOME/.vifm/vifmrc"

export HL_DIR="$HOME/.highlight"
export HIGHLIGHT_DATADIR="$HOME/.highlight"

export TCD_BASH_COMPLETION_DIR="/usr/local/etc/bash_completion.d"
# export ZSH_COMPLETION_DIR="/usr/local/share/zsh/site-functions"
# export FISH_COMPLETION_DIR="/usr/local/share/fish/vendor_completions.d"


# export FZF_TMUX=1
# export FZF_COMPLETION_TRIGGER='/'
# export FZF_COMPLETION_TRIGGER='**'
# export FZF_COMPLETION_OPTS='+c -x'
# export FZF_ALT_C_OPTS="--preview 'tree -C {} | head -200'"
# export FZF_CTRL_T_OPTS="--preview '(highlight -O ansi -l {} 2> /dev/null || cat {} || tree -C {}) 2> /dev/null | head -200'"
# export FZF_CTRL_R_OPTS="--preview 'echo {}' --preview-window down:3:hidden:wrap --bind '?:toggle-preview'"
# export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
export FZF_DEFAULT_COMMAND='fd --hidden --follow --exclude .git'
export FZF_DEFAULT_OPTS='
  --height 40% --reverse --border
  --color=bg:#1e1e1e,fg:#505050,hl:#4ec9b0
  --color=bg+:#303030,fg+:#d4d4d4,hl+:#4ec9b0
  --color=header:#CE9178,border:#608b4e,spinner:#4ec9b0,info:#569cd6
  --color=info:#569cd6,marker:#007acc
  --color=prompt:#608b4e,pointer:#d7ba7d
'

export WIDGETPATH='/Users/clay/Library/Application Support/Übersicht/widgets'

# export CLICOLOR=1
# export CLICOLOR_FORCE=1

# export RANGER_LOAD_DEFAULT_RC=FALSE
# export W3MIMGDISPLAY_PATH=$HOME/.iterm2/bin/imgcat

# via kakoune:
# If you intend to process AsciiDoc files through an XML stage
# (such as a2x for manpage generation) you need to add something like:
# export XML_CATALOG_FILES=/usr/local/etc/xml/catalog

# export NODE_REPL_HISTORY=~/.node_history;  # Enable persistent REPL history for `node`.
# export NODE_REPL_HISTORY_SIZE='32768';     # Allow 32³ entries; the default is 1000.
# export NODE_REPL_MODE='sloppy';            # Use sloppy mode by default, matching web browsers.

# export HISTSIZE='32768';                   # Increase Bash history size. Allow 32³ entries; the default is 500.
# export HISTFILESIZE="${HISTSIZE}";
# export HISTCONTROL='ignoreboth';           # Omit duplicates and commands that begin with a space from history.

#  Avoid issues with `gpg` as installed via Homebrew.
#  (https://stackoverflow.com/a/42265848/96656)
# export GPG_TTY=$(tty);
