# echo "🏃 .exports"

export DOTFILES="$HOME/.dotfiles"

export EDITOR='nvim'

# export PAGER='less'
export PAGER=vimpager

export TERM='xterm-256color'

# Todo.txt
# export TODO_DIR="$HOME/.todo"

# Taskwarrior
# export TASKRC="$HOME/.taskrc"
# export TASKDATA="$HOME/.task"
export XDG_CONFIG_HOME="$HOME/.config"


export TCD_BASH_COMPLETION_DIR="/usr/local/etc/bash_completion.d"
# export ZSH_COMPLETION_DIR="/usr/local/share/zsh/site-functions"
# export FISH_COMPLETION_DIR="/usr/local/share/fish/vendor_completions.d"
export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
export FZF_COMPLETION_TRIGGER='/'


# export CLICOLOR=1
# export CLICOLOR_FORCE=1

# export XDG_CONFIG_HOME=$HOME/.config

# export RANGER_LOAD_DEFAULT_RC=FALSE
# export W3MIMGDISPLAY_PATH=$HOME/.iterm2/bin/imgcat

# export FZF_DEFAULT_COMMAND='fd --type f'
export FZF_DEFAULT_OPTS='--height 40% --reverse --border'


# for highlighting files
export HL_DIR="$HOME/.highlight"
export HIGHLIGHT_DATADIR="$HOME/.highlight"

# via kakoune:
# If you intend to process AsciiDoc files through an XML stage
# (such as a2x for manpage generation) you need to add something like:
# export XML_CATALOG_FILES=/usr/local/etc/xml/catalog
export WIDGETPATH='/Users/clay/Library/Application Support/Übersicht/widgets'


# export NODE_REPL_HISTORY=~/.node_history;  # Enable persistent REPL history for `node`.
# export NODE_REPL_HISTORY_SIZE='32768';     # Allow 32³ entries; the default is 1000.
# export NODE_REPL_MODE='sloppy';            # Use sloppy mode by default, matching web browsers.
#
#
# export HISTSIZE='32768';                   # Increase Bash history size. Allow 32³ entries; the default is 500.
# export HISTFILESIZE="${HISTSIZE}";
# export HISTCONTROL='ignoreboth';           # Omit duplicates and commands that begin with a space from history.

#  Avoid issues with `gpg` as installed via Homebrew.
#  (https://stackoverflow.com/a/42265848/96656)
# export GPG_TTY=$(tty);
