#   ┌─┐┬┌┬┐┬┌─┐┌┐┌┌─┐┬─┐┌─┐
#   │ ┬│ │ ││ ┬││││ │├┬┘├┤
#  o└─┘┴ ┴ ┴└─┘┘└┘└─┘┴└─└─┘

# Misc.
!.gitkeep

# Mac files
Icon?
.DS_store
Desktop.ini
Thumbs.db
# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Editor files
*.userprefs
.idea
.vscode
.vs
.projectile
**/tags

# Dependencies
**/node_modules/**
**/bower_components/**

# Built files
**/[bB]uild/**
dist/**

# Local files
.env
.variables
.?ignore/**

# Python stuff
**/__pycache__/
*.pyc
VENV

# Logs
**/*.map
npm-debug.log
npm-debug.log.*
yarn-error.log

# ~/.dotfiles
editors/vim/undo/**
editors/vim/backups/**
editors/vim/plugged
shell/fish/fundle/**
shell/zsh/plugins/zsh-autosuggestions
