#   ┌─┐┬┌┬┐┬┌─┐┌┐┌┌─┐┬─┐┌─┐
#   │ ┬│ │ ││ ┬││││ │├┬┘├┤
#  o└─┘┴ ┴ ┴└─┘┘└┘└─┘┴└─└─┘


!.gitkeep
undo/**
dein/**
state_nvim.vim
rplugin.vim
cache_nvim

# mac system files
Icon?
.DS_Store

# private files
.env
.variables
ignore/**

# other
*.pyc
*.behind
.netrwhist
tags
.tags
.cscope
.O
.class

