priority -50

snippet code
{{{class='${1:language}'
${2:codes}
}}}
endsnippet

snippet head1 "VimWiki H1" b
= ${1:head} =
endsnippet

snippet head2
== ${1:head} ==
endsnippet

snippet head3
=== ${1:head} ===
endsnippet

snippet head4
==== ${1:head} ====
endsnippet

snippet head5
===== ${1:head} =====
endsnippet


