# https://docs.npmjs.com/misc/config

# prefix=/Users/clay/.node_global
package-lock=false
init-author-name="Clay Dunston"
init-author-email="dunstontc@gmail.com"
init-license="MIT"
init-version="0.0.1"
save=true
