prefix=/Users/clay/.node_global
package-lock=false
init-author-name=Clay Dunston
init-author-email=dunstontc@gmail.com
init-license=MIT
init-version=0.0.1
save=true
//registry.npmjs.org/:_authToken=2a298a47-8e11-45f8-a226-a68a64c706ac
